force-app/main/default/flows/Your_Veloce_On_ramp_Accelerator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Label_Existing</name>
        <label>Set Label Existing</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>input_Label_Database</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_Label_Existing_Database</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Tech_Stack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Label_New</name>
        <label>Set Label New</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>input_Label_Database</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_Label_New_Database</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Tech_Stack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point1</name>
        <label>Set Map Point1</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point2</name>
        <label>Set Map Point2</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point3</name>
        <label>Set Map Point3</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point4</name>
        <label>Set Map Point4</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point5</name>
        <label>Set Map Point5</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point6</name>
        <label>Set Map Point6</label>
        <locationX>1370</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point7</name>
        <label>Set Map Point7</label>
        <locationX>1634</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point8</name>
        <label>Set Map Point8</label>
        <locationX>1898</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Map_Point9</name>
        <label>Set Map Point9</label>
        <locationX>2162</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>var_You_Are_Here</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Agency_Info</name>
        <label>Set Stage Agency Info</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Agency_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Agency_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Basics</name>
        <label>Set Stage Basics</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Basics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_App_Basics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Size_Scope</name>
        <label>Set Stage Size &amp; Scope</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Size_Scope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Size_Scope</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Success</name>
        <label>Set Stage Success</label>
        <locationX>1238</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Where_Are_You</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Tech_Stack</name>
        <label>Set Stage Tech Stack</label>
        <locationX>1238</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Tech_Stack</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_New_or_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Welcome</name>
        <label>Set Stage Welcome</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Welcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Welcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_New_or_Existing</name>
        <label>Decision : New or Existing?</label>
        <locationX>1238</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Set_Label_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_New_Existing</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>existing software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Label_New</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Where_Are_You</name>
        <label>Decision : Where Are You?</label>
        <locationX>1238</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Screen_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>mapPoint1</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point1</targetReference>
            </connector>
            <label>mapPoint1</label>
        </rules>
        <rules>
            <name>mapPoint2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100-500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point2</targetReference>
            </connector>
            <label>mapPoint2</label>
        </rules>
        <rules>
            <name>mapPoint3</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500-1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point3</targetReference>
            </connector>
            <label>mapPoint3</label>
        </rules>
        <rules>
            <name>mapPoint4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000 - 10,000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point4</targetReference>
            </connector>
            <label>mapPoint4</label>
        </rules>
        <rules>
            <name>mapPoint5</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100-500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000 - 10,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100-500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000 - 10,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 1,000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point5</targetReference>
            </connector>
            <label>mapPoint5</label>
        </rules>
        <rules>
            <name>mapPoint6</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000 - 10,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500-1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000 - 10,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500-1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 1,000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point6</targetReference>
            </connector>
            <label>mapPoint6</label>
        </rules>
        <rules>
            <name>mapPoint7</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10,000 - 100,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100,000+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point7</targetReference>
            </connector>
            <label>mapPoint7</label>
        </rules>
        <rules>
            <name>mapPoint8</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100-500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10,000 - 100,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100-500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10,000 - 100,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100,000+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point8</targetReference>
            </connector>
            <label>mapPoint8</label>
        </rules>
        <rules>
            <name>mapPoint9</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10,000 - 100,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100,000+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500-1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10,000 - 100,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Processes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500-1,000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choices_Expected_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100,000+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Map_Point9</targetReference>
            </connector>
            <label>mapPoint9</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choices_Cloud_Product</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cloud_Product__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Complexity</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complexity__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Database</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Database__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Deployment_Preference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deployment_Preference__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Domain</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domain__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Expected_Processes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Processes__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Expected_Users</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Users__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_New_Existing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_Featuire_or_New_Product__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Platform</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Platform__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Tasks</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tasks__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices_Tech_Stack</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tech_Stack__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Your Veloce : Onramp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Your Veloce On-ramp Accelerator!</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Interview</name>
        <label>Interview</label>
        <locationX>1238</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Set_Stage_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Cloud_Product__c</field>
            <value>
                <elementReference>input_Cloud_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Agency__c</field>
            <value>
                <elementReference>input_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complexity__c</field>
            <value>
                <elementReference>input_Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Database__c</field>
            <value>
                <elementReference>input_Database</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deployment_Preference__c</field>
            <value>
                <elementReference>input_Deployment_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain__c</field>
            <value>
                <elementReference>input_Domain_Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>input_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Processes__c</field>
            <value>
                <elementReference>input_Expected_Processes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Users__c</field>
            <value>
                <elementReference>input_Expected_Users</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>input_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>input_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Featuire_or_New_Product__c</field>
            <value>
                <elementReference>input_New_Existing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Cloud_Platform__c</field>
            <value>
                <elementReference>input_Other_Cloud_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Platform__c</field>
            <value>
                <elementReference>input_Other_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Tech_Stack__c</field>
            <value>
                <elementReference>input_Other_Tech_Stack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>input_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tasks__c</field>
            <value>
                <elementReference>input_Tasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Stack__c</field>
            <value>
                <elementReference>input_Tech_Stack</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Agency_Info</name>
        <label>Agency Info</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_Basics</targetReference>
        </connector>
        <fields>
            <name>flowStages_Agency_Info</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Instructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please provide your contact info</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>you@example.gov</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_Agency</name>
            <dataType>String</dataType>
            <fieldText>Agency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please limit your entry to 255 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!input_Agency})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_App_Basics</name>
        <label>App Basics</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_Size_Scope</targetReference>
        </connector>
        <fields>
            <name>flowStages_App_Basics</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Instructions2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Domain_Function</name>
            <choiceReferences>choices_Domain</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What agency function does this app serve?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_New_Existing</name>
            <choiceReferences>choices_New_Existing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a new or existing application?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Deployment_Preference</name>
            <choiceReferences>choices_Deployment_Preference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your deployment preference?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Service technology solutions can be deployed in several different ways. But which is right for you and which offers the security you require?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>display_Space3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Results</name>
        <label>Results</label>
        <locationX>1238</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowStages_Success</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Results_Pro_Code</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Thank you! Based on the information, your app is a great candidate for a &lt;/span&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;PRO Code &lt;/strong&gt;&lt;span style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;solution. Here&apos;s the next step.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_Results_No_Code_Low_Code</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Success! Based on the information, your app is a great candidate for a &lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;No Code / Low Code &lt;/strong&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;solution. Here&apos;s the next step.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic1</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2f8E?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 1.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic2</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fGr?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 2.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic3</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fHp?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 3.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic4</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fHu?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 4.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic5</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fI4?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 5.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>5.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic6</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fIE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 6.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>6.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic7</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fIJ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 7.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic8</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fIO?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 8.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>8.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayLowCodeGraphic9</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://octo-a-dev-ed.file.force.com/sfc/servlet.shepherd/version/download/0688Z00000T2fIT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LowCode Graphic 9.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_You_Are_Here</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Size_Scope</name>
        <label>Size &amp; Scope</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_Tech_Stack</targetReference>
        </connector>
        <fields>
            <name>flowStages_Size_Scope</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Instructions3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Tasks</name>
            <choiceReferences>choices_Tasks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;b&gt;Are your users required to perform repetitive tasks that could be automated?&lt;/b&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Expected_Users</name>
            <choiceReferences>choices_Expected_Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many expected users for application?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Expected_Processes</name>
            <choiceReferences>choices_Expected_Processes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many processes does this application use?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Complexity</name>
            <choiceReferences>choices_Complexity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which options describe the complexity of the app?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Enter help text here.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Tech_Stack</name>
        <label>Tech Stack</label>
        <locationX>1238</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Interview</targetReference>
        </connector>
        <fields>
            <name>flowStages_Tech_Stack</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Instructions4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Database</name>
            <choiceReferences>choices_Database</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!input_Label_Database}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Platform</name>
            <choiceReferences>choices_Platform</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred platform?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Other_Platform</name>
            <dataType>String</dataType>
            <fieldText>Other Platform</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please limit entry to 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!input_Other_Platform})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Platform</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Cloud_Platform</name>
            <choiceReferences>choices_Cloud_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Cloud Platform?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Other_Cloud_Platform</name>
            <dataType>String</dataType>
            <fieldText>Other Cloud Platform</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please limit entry to 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!input_Other_Cloud_Platform})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Cloud_Platform</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Tech_Stack</name>
            <choiceReferences>choices_Tech_Stack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Tech Stack?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Other_Tech_Stack</name>
            <dataType>String</dataType>
            <fieldText>Other Tech Stack</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please limit entry to 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!input_Other_Tech_Stack})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Tech_Stack</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Welcome</name>
        <label>Welcome</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_Agency_Info</targetReference>
        </connector>
        <fields>
            <name>flowStages_Welcome</name>
            <extensionName>c:flowStagesLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_Welcome</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Welcome! Thank you for exploring solution options for your app with Octo. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Take this quiz to find out if a &quot;no code / low code&quot; solution is right for you. The interview is composed of fill-in questions and is expected to take less than 7-minutes to complete.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;At the end, we&apos;ll calculate the results and show you a road map for the categories of &quot;no code/ low code&quot; solutions out there (just like this app!).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>App_Basics</name>
        <isActive>true</isActive>
        <label>App Basics</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Stage_Agency_Info</name>
        <isActive>true</isActive>
        <label>Agency Info</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Stage_Results</name>
        <isActive>true</isActive>
        <label>Results</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Stage_Size_Scope</name>
        <isActive>true</isActive>
        <label>Size &amp; Scope</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Stage_Tech_Stack</name>
        <isActive>true</isActive>
        <label>Tech Stack</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Stage_Welcome</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Stage_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_Label_Existing_Database</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Do you have a database?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_Label_New_Database</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Will you need a new database?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>input_Label_Database</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_You_Are_Here</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
